@charset "utf-8";

[class*="myIcon-"] {
    display: inline-block;
    background: url('../images/sprite.png') no-repeat;
    background-size: 1080px;
}

/*---------------------------------------------共用图标---------------------------------------*/
/*------------返回箭头-----------*/ 
.myIcon-returnArrow{
    @include appicon(-852px, -37px, 36px, 64px)
}
/*------------复选框-----------*/ 
.myIcon-checkBoxNo{
    @include appicon(-903px, 0, 36px, 36px)
}
.myIcon-checkBoxYes{
    @include appicon(-950px, 0, 36px, 36px)
}
/*------------注册成功-----------*/ 
.myIcon-registerSuccess{
    @include appicon(-369px, -192px, 363px, 250px)
}
/*------------验证码发送成功-----------*/ 
.myIcon-codeSuccess{
    @include appicon(0, -192px, 363px, 249px)
}
/*------------弹框感叹号-----------*/ 
.myIcon-DialogSigh{
    @include appicon(-852px, -110px, 64px, 55px)
}
/*------------标题小图标-----------*/ 
.myIcon-tipsIcon{
    @include appicon(-997px, 0, 29px, 34px)
}
/*------------勾选蓝色-----------*/ 
.myIcon-checkBlue{
    @include appicon(-928px, -125px, 40px, 40px)
}

/*---------------------------------------------首页图标---------------------------------------*/ 
/*------------首页-政策法规-----------*/ 
.myIcon-policies{
    @include appicon(0, 0, 121px, 121px)
}
/*------------首页-通知公告-----------*/ 
.myIcon-notice{
    @include appicon(-143px, 0, 121px, 121px)
}
/*------------首页-强农惠农-----------*/ 
.myIcon-farmer{
    @include appicon(-286px, 0, 121px, 121px)
}
/*------------首页-应急管理-----------*/ 
.myIcon-emergency{
    @include appicon(-428px, 0, 121px, 121px)
}
/*------------首页-农产品价格-----------*/ 
.myIcon-agriculturalPrice{
    @include appicon(-713px, 0, 120px, 120px)
}
/*------------首页-农产品检测-----------*/ 
.myIcon-agriculturalTesting{
    @include appicon(-571px, 0, 120px, 120px)
}
/*------------首页-日期-----------*/ 
.myIcon-date{
    @include appicon(-855px, 0, 33px, 33px)
}

/*---------------------------------------------尾部图标---------------------------------------*/ 
/*------------尾部-首页-----------*/ 
.myIcon-footIndexG{
    @include appicon(0, -128px, 60px, 55px)
}
.myIcon-footIndexB{
    @include appicon(-79px, -128px, 60px, 55px)
}
/*------------尾部-服务-----------*/ 
.myIcon-footServiceG{
    @include appicon(-158px, -128px, 57px, 57px)
}
.myIcon-footServiceB{
    @include appicon(-234px, -128px, 57px, 57px)
}
/*------------尾部-问答-----------*/ 
.myIcon-footQaG{
    @include appicon(-310px, -128px, 59px, 57px)
}
.myIcon-footQaB{
    @include appicon(-388px, -128px, 59px, 57px)
}
/*------------尾部-我的-----------*/ 
.myIcon-footMyG{
    @include appicon(-466px, -128px, 52px, 49px)
}
.myIcon-footMyB{
    @include appicon(-537px, -128px, 52px, 49px)
}

/*---------------------------------------------登录图标---------------------------------------*/ 
/*------------登录页-手机号-----------*/ 
.myIcon-loginUser{
    @include appicon(-608px, -128px, 43px, 64px)
}
/*------------登录页-密码-----------*/ 
.myIcon-loginPassWord{
    @include appicon(-662px, -128px, 44px, 58px)
}

/*---------------------------------------------我的图标---------------------------------------*/ 
/*------------灰色右箭头-----------*/ 
.myIcon-myArrowG{
    @include appicon(-800px, -140px, 27px, 50px)
}
/*------------实名认证-----------*/ 
.myIcon-myVerified{
    @include appicon(-903px, -40px, 65px, 61px)
}
/*------------我的问答-----------*/ 
.myIcon-myQa{
    @include appicon(-983px, -45px, 57px, 56px)
}
/*------------农户种植信息采集-----------*/ 
.myIcon-myfpCollectInformation{
    @include appicon(-972px, -104px, 50px, 56px)
}
/*------------系统设置-----------*/ 
.myIcon-mySystemSet{
    @include appicon(-732px, -137px, 57px, 55px)
}

/*---------------------------------------------实名认证图标---------------------------------------*/ 
/*------------照相机-----------*/ 
.myIcon-verifiedCamera{
    @include appicon(-738px, -196px, 188px, 188px)
}
/*------------直角上左-----------*/ 
.myIcon-verifiedAngleTL{
    @include appicon(-932px, -198px, 29px, 29px)
}
/*------------直角下左-----------*/ 
.myIcon-verifiedAngleBL{
    @include appicon(-932px, -240px, 29px, 29px)
}
/*------------直角上右-----------*/ 
.myIcon-verifiedAngleTR{
    @include appicon(-971px, -198px, 29px, 29px)
}
/*------------直角下右-----------*/ 
.myIcon-verifiedAngleBR{
    @include appicon(-971px, -240px, 29px, 29px)
}
/*------------成功勾-----------*/ 
.myIcon-verifiedHookY{
    @include appicon(-932px, -282px, 56px, 56px)
}
/*------------失败勾-----------*/ 
.myIcon-verifiedHookN{
    @include appicon(-932px, -342px, 54px, 54px)
}

/*---------------------------------------------问答页图标---------------------------------------*/ 
/*------------我的问答-----------*/ 
.myIcon-qaMyqa{
    @include appicon(0, -450px, 188px, 188px)
}
/*------------常见问答列表-----------*/ 
.myIcon-qaComList{
    @include appicon(-212px, -450px, 188px, 210px)
}
/*------------尾部-问题列表-----------*/ 
.myIcon-qaFootQaListB{
    @include appicon(0, -660px, 70px, 57px)
}
.myIcon-qaFootQaListG{
    @include appicon(-86px, -660px, 70px, 57px)
}
/*------------尾部-提问-----------*/ 
.myIcon-qaFootAskB{
    @include appicon(-444px, -660px, 60px, 60px)
}
.myIcon-qaFootAskG{
    @include appicon(-380px, -660px, 60px, 60px)
}
/*------------尾部-我的问答-----------*/ 
.myIcon-qaFootMyQaB{
    @include appicon(-320px, -660px, 56px, 56px)
}
.myIcon-qaFootMyQaG{
    @include appicon(-248px, -660px, 56px, 56px)
}

/*---------------------------------------------消息页图标---------------------------------------*/ 
/*------------提醒消息-----------*/ 
.myIcon-warnMsg{
    @include appicon(-406px, -457px, 128px, 128px)
}
/*------------回答消息-----------*/ 
.myIcon-replyMsg{
    @include appicon(-549px, -457px, 128px, 128px)
}